<html>
<head>
    <title>Emp Data</title>
</head>
<style>
    th,td{
        padding: 10px 20px;
        text-align: center;
        border-radius: 50%;
    }
    table{
        margin-top: -35px;
    }
    h2{
        font-size: 50px;
        border: 3px red solid;
        margin-right: 350px;
        margin-left: 350px;
        margin-top: 30px;
        border-radius: 50px;
    }
    body{
        border: 2px blue solid;
        border-radius: 20%;
    }
</style>
<body>
<center>
    <h2>Emp Data</h2>
<table border="2px">
    <thead>
    <tr>
        <th>E.No</th>
        <th>EName</th>
        <th>Salary</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Sai</td>
        <td>10000</td>
        <td>Mumbai</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Rohit</td>
        <td>15000</td>
        <td>Pune</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Santhosh</td>
        <td>20000</td>
        <td>Hyd</td>
    </tr>
    </tbody>
</table>
</center>
</body>
</html>